body {
    margin: 0px;
}

.main {
    display: grid;
    align-items: center;
    grid-template-columns: 1;
    grid-template-rows: repeat(2, 100vh);
}

.slider-1 {
    position: relative;
    width: 100%;
    height: 490px;
}

.slider-1-overflow {
    position: absolute;
    width: 100%;
    height: 490px;
    left: 0px;
    overflow: hidden;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.1) 14.37%, rgba(0, 0, 0, 0.8) 100%);
}

#slider-1-full {
    width: 300%;
    height: 490px;
    top: 0px;
    transition: left 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.slider-1-gradient {
    position: relative;
    float: left;
    width: 100%;
    height: 490px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.1) 14.37%, rgba(0, 0, 0, 0.8) 100%);
}

#slider-1-1,
#slider-1-2,
#slider-1-3 {
    position: relative;
    float: left;
    width: 100vw;
    height: 490px;
}

#slider-1-1 {
    background: no-repeat url(../img/maxresdefault\ \(1\)\ 2.png) center/cover;
}

#slider-1-2 {
    background: no-repeat url(../img/montenegro-hero\ 1.png) center/cover;
}

#slider-1-3 {
    background: no-repeat url(../img/Rovinj-15\ 1.png) center/cover;
}

label,
a {
    cursor: pointer;
}

.slider-1 input {
    display: none;
}

#slider-1-btns-1 label {
    display: none;
}

#switch1:checked~#slider-1-btns-1 label:nth-child(3),
#switch2:checked~#slider-1-btns-1 label:nth-child(1),
#switch3:checked~#slider-1-btns-1 label:nth-child(2) {
    position: absolute;
    display: block;
    width: 50px;
    height: 50px;
    left: 30px;
    bottom: 30px;
    background: #FFFFFF;
    border: 1px solid #FFFFFF;
    border-radius: 50px;
    opacity: 1;
}

#switch1:checked~#slider-1-btns-1 label:nth-child(2),
#switch2:checked~#slider-1-btns-1 label:nth-child(3),
#switch3:checked~#slider-1-btns-1 label:nth-child(1) {
    position: absolute;
    width: 50px;
    height: 50px;
    display: block;
    right: 30px;
    bottom: 30px;
    background: #FFFFFF;
    border: 1px solid #FFFFFF;
    border-radius: 50px;
    opacity: 1;
}

#switch1:checked~.slider-1-overflow #slider-1-full {
    position: relative;
    width: 500vw;
    height: 490px;
    left: 0px;
}

#switch2:checked~.slider-1-overflow #slider-1-full {
    position: relative;
    width: 500vw;
    height: 490px;
    left: -100vw;
}

#switch3:checked~.slider-1-overflow #slider-1-full {
    position: relative;
    width: 500vw;
    height: 490px;
    left: -200vw;
}



.slider-2 {
    position: relative;
    width: 100%;
    height: 490px;
}

.slider-2-overflow {
    position: absolute;
    width: 100%;
    height: 490px;
    left: 0px;
    overflow: hidden;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.1) 14.37%, rgba(0, 0, 0, 0.8) 100%);
}

#slider-2-full {
    width: 300vw;
    height: 490px;
    top: 0px;
    transition: left 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.slider-2-gradient {
    position: relative;
    width: 100%;
    height: 490px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.1) 14.37%, rgba(0, 0, 0, 0.8) 100%);
}

#slider-2-1,
#slider-2-2,
#slider-2-3 {
    position: relative;
    float: left;
    width: 100vw;
    height: 490px;
}

#slider-2-1 {
    background: no-repeat url(../img/maxresdefault\ \(1\)\ 2.png) center/cover;
}

#slider-2-2 {
    background: no-repeat url(../img/montenegro-hero\ 1.png) center/cover;
}

#slider-2-3 {
    background: no-repeat url(../img/Rovinj-15\ 1.png) center/cover;
}

button {
    cursor: pointer;
}

#right-btn,
#left-btn{
    position: absolute;
    display: block;
    width: 50px;
    height: 50px;
    left: 30px;
    bottom: 30px;
    background: #FFFFFF;
    border: 1px solid #FFFFFF;
    border-radius: 50px;
    opacity: 1;
}

#left-btn{
    right: 30px;
    left: auto;
}